/* Container */

.color-palette {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 45px;
}

.gradient-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, 128px);
  grid-gap: 16px;
  margin-top: 35px;
}

/* Color Swatch */

.color-palette__swatch {
  width: 72px;
  height: 72px;
  padding-top: 26px;
  text-align: center;
  font: var(--font-primary);
}

.color-palette__swatch:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.color-palette__swatch:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Gradient Swatch */

.gradient-collection__swatch {
  border-radius: 8px;
  width: 128px;
  height: 128px;
  padding-top: 55px;
  font: var(--font-primary);
  text-align: center;
}
