.cards-box {
  display: flex;
  justify-content: space-between;
}

.cards-box > div {
  width: 30%;
}

pre,
code {
  background-color: var(--color-moon-100);
}

.code-snippet {
  overflow-x: scroll;
  background-color: var(--color-moon-100);
}
