/* This file contains styles for the homepage only. All other styles are in doczrc.js */

.cards-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 121px;
}

.cards-box > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 5%;
  width: 100%;
}

.cards-box > div > .cards-box__image {
  display: flex;
  align-items: center;
  height: 154px;
}

@media (min-width: 768px) {

  .cards-box > div {
    width: 50%;
  }
}

@media (min-width: 865px) {

  .cards-box > div {
    width: 30%;
  }
}

.cards-box .a-btn {
  align-self: flex-start;
}

.atomic-illustration {
  width: 153px;
}

.open-illustration {
  width: 172px;
}

.accessible-illustration {
  width: 168px;
}

.flex-1 {
  flex: 1;
}

h3 {
  font: var(--font-primary);
  font-size: 28px;
  color: var(--font-color);
}

ul {
  margin: 0 0 20px;
}

pre,
code {
  font-size: 16px;
  background-color: var(--color-moon-100);
}

.code-snippet {
  overflow-x: scroll;
  background-color: var(--color-moon-100);
  padding: 0 10px;
}
