/* Container */

.icons-collection {
  display: flex;
  margin: -12px -12px 25px;
  flex-wrap: wrap;
}

/* Card */

.icons-collection__card {
  margin: 12px;
  text-align: center;
}

.icons-collection__card-description {
  margin-top: 8px;
  color: var(--color-space-500);
  font: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
}

.icons-collection__card-icon {
  padding: 24px;
  border: 1px solid var(--color-space-400);
  border-radius: 8px;
}

.icons-collection__card-icon .a-icon {
  background-color: var(--color-moon-900);
}
