body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-moon-900);
  text-rendering: optimizeLegibility;
}

*,
::after,
::before {
  box-sizing: border-box;
}

figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 28px;
  color: var(--color-moon-900);
}

h1,
.h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 80px;
}

h2,
.h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

h3,
.h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

a {
  text-decoration: none;
  cursor: pointer;
  word-wrap: break-word;
}

li,
ul {
  list-style: none;
  padding: 0;
}
