body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-moon-900);
  text-rendering: optimizeLegibility;
}

*,
::after,
::before {
  box-sizing: border-box;
}

figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
.h1 {
  font-size: 48px;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 40px;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 32px;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 24px;
  font-weight: 600;
}

a {
  color: var(--color-uranus-700);
  text-decoration: underline;
  cursor: pointer;
  word-wrap: break-word;
}

a:hover {
  color: var(--color-uranus-500);
}

a:active {
  color: var(--color-uranus-800);
}

a.btn {
  text-decoration: none;
}

li,
ul {
  list-style: none;
  padding: 0;
}
