/* Base button styles */

.btn {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  transition: background-color 0.2s ease;
  overflow: hidden;
}

.btn:disabled,
.btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Outline button */

.btn--outline-uranus {
  background-color: var(--color-space-100);
  border: 2px solid var(--color-uranus-500);
  color: var(--color-uranus-500);   
}

.btn--outline-uranus:hover:not(:disabled) {
  border-color: var(--color-uranus-600);
  color: var(--color-uranus-600);
}

.btn--outline-uranus:active:not(:disabled) {
  border-color: var(--color-uranus-700);
  color: var(--color-uranus-700);
}

.btn--outline-venus {
  background-color: var(--color-space-100);
  border: 2px solid var(--color-venus-500);
  color: var(--color-venus-500);   
}

.btn--outline-venus:hover:not(:disabled) {
  border-color: var(--color-venus-600);
  color: var(--color-venus-600);
}

.btn--outline-venus:active:not(:disabled) {
  border-color: var(--color-venus-700);
  color: var(--color-venus-700);
}

.btn--outline-earth {
  background-color: var(--color-space-100);
  border: 2px solid var(--color-earth-500);
  color: var(--color-earth-500);   
}

.btn--outline-earth:hover:not(:disabled) {
  border-color: var(--color-earth-600);
  color: var(--color-earth-600);
}

.btn--outline-earth:active:not(:disabled) {
  border-color: var(--color-earth-700);
  color: var(--color-earth-700);
}

/* Button size modifiers */

.btn--small {
  padding: 5px 37px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 18px;
}

.btn--medium {
  padding: 8px 38px;
  border-radius: 24px;
  font-size: 16px;
  line-height: 28px;
}

.btn--large {
  padding: 12px 71px;
  border-radius: 31px;  
  font-size: 24px;
  line-height: 35px;
}

/* Button color modifiers */

.btn--uranus {
  background-color: var(--color-uranus-500);
  border: 2px solid var(--color-uranus-500);
  color: var(--color-space-100);
}

.btn--uranus:hover:not(:disabled) {
  background-color: var(--color-uranus-600);
  border-color: var(--color-uranus-600);
}

.btn--uranus:active:not(:disabled) {
  background-color: var(--color-uranus-700);
  border-color: var(--color-uranus-700);
}

.btn--venus {
  background-color: var(--color-venus-400);
  border: 2px solid var(--color-venus-400);
  color: var(--color-space-100);
}

.btn--venus:hover:not(:disabled) {
  background-color: var(--color-venus-500); 
  border-color: var(--color-venus-500);
}

.btn--venus:active:not(:disabled) {
  background-color: var(--color-venus-600);  
  border-color: var(--color-venus-600);
}

.btn--earth {
  background-color: var(--color-earth-400);
  border: 2px solid var(--color-earth-400);
  color: var(--color-moon-900);
}

.btn--earth:hover:not(:disabled) {
  background-color: var(--color-earth-500); 
  border-color: var(--color-earth-500);
}

.btn--earth:active:not(:disabled) {
  background-color: var(--color-earth-600);  
  border-color: var(--color-earth-600);
}
