.btn {
  border-radius: 28px;
  background-color: var(--color-earth-800);
  border: none;
  color: var(--color-space-100);
  cursor: pointer;
  display: block;
  position: relative;
  padding: 14px 48px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  transition: background-color 0.2s ease;
  overflow: hidden;
}

.btn:hover::before,
.btn:active::before,
.btn:disabled::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn:active::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn:disabled::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.btn:disabled {
  cursor: not-allowed;
}
