/* Base button styles */

.a-btn {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  transition: all 0.3s ease;
  overflow: hidden;
}

.a-btn:disabled,
.a-btn.a-btn--disabled {
  cursor: not-allowed;
  background-color: var(--color-moon-200);
  border-color: var(--color-moon-200);
  color: var(--color-space-100);
}

/* Button color modifiers */

.a-btn--uranus {
  background-color: var(--color-uranus-500);
  border: 2px solid var(--color-uranus-500);
  color: var(--color-space-100);
}

.a-btn--uranus:hover:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-uranus-400);
  border-color: var(--color-uranus-400);
}

.a-btn--uranus:active:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-uranus-600);
  border-color: var(--color-uranus-600);
}

.a-btn--venus {
  background-color: var(--color-venus-400);
  border: 2px solid var(--color-venus-400);
  color: var(--color-space-100);
}

.a-btn--venus:hover:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-venus-300);
  border-color: var(--color-venus-300);
}

.a-btn--venus:active:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-venus-500);
  border-color: var(--color-venus-500);
}

.a-btn--mars {
  background-color: var(--color-mars-500);
  border: 2px solid var(--color-mars-500);
  color: var(--color-space-100);
}

.a-btn--mars:hover:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-mars-400);
  border-color: var(--color-mars-400);
}

.a-btn--mars:active:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-mars-600);
  border-color: var(--color-mars-600);
}

.a-btn--earth {
  background-color: var(--color-earth-400);
  border: 2px solid var(--color-earth-400);
  color: var(--color-moon-900);
}

.a-btn--earth:hover:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-earth-300);
  border-color: var(--color-earth-300);
}

.a-btn--earth:active:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-earth-500);
  border-color: var(--color-earth-500);
}

/* Button size modifiers */

.a-btn--small {
  padding: 5px 37px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 18px;
}

.a-btn--medium {
  padding: 8px 38px;
  border-radius: 24px;
  font-size: 16px;
  line-height: 28px;
}

.a-btn--large {
  padding: 12px 71px;
  border-radius: 31px;
  font-size: 24px;
  line-height: 35px;
}

/* Outline button */

.a-btn--outline-uranus {
  background-color: var(--color-space-100);
  border: 2px solid var(--color-uranus-500);
  color: var(--color-uranus-500);
}

.a-btn--outline-uranus:hover:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-uranus-400);
  border-color: var(--color-uranus-400);
  color: var(--color-space-100);
}

.a-btn--outline-uranus:active:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-uranus-600);
  border-color: var(--color-uranus-600);
  color: var(--color-space-100);
}

.a-btn--outline-venus {
  background-color: var(--color-space-100);
  border: 2px solid var(--color-venus-400);
  color: var(--color-venus-400);
}

.a-btn--outline-venus:hover:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-venus-300);
  border-color: var(--color-venus-300);
  color: var(--color-space-100);
}

.a-btn--outline-venus:active:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-venus-500);
  border-color: var(--color-venus-500);
  color: var(--color-space-100);
}

.a-btn--outline-earth {
  background-color: var(--color-space-100);
  border: 2px solid var(--color-earth-600);
  color: var(--color-earth-600);
}

.a-btn--outline-earth:hover:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-earth-300);
  border-color: var(--color-earth-300);
  color: var(--color-moon-900);
}

.a-btn--outline-earth:active:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-earth-500);
  border-color: var(--color-earth-500);
  color: var(--color-moon-900);
}

.a-btn--outline-mars {
  background-color: var(--color-space-100);
  border: 2px solid var(--color-mars-500);
  color: var(--color-mars-500);
}

.a-btn--outline-mars:hover:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-mars-400);
  border-color: var(--color-mars-400);
  color: var(--color-space-100);
}

.a-btn--outline-mars:active:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-mars-600);
  border-color: var(--color-mars-600);
  color: var(--color-space-100);
}

/* stylelint-disable no-descending-specificity */

.a-btn--outline-uranus:disabled,
.a-btn--outline-venus:disabled,
.a-btn--outline-earth:disabled,
.a-btn--outline-mars:disabled,
.a-btn--outline-uranus.a-btn--disabled,
.a-btn--outline-venus.a-btn--disabled,
.a-btn--outline-earth.a-btn--disabled,
.a-btn--outline-mars.a-btn--disabled {
  cursor: not-allowed;
  background-color: var(--color-space-100);
  border-color: var(--color-moon-200);
  color: var(--color-moon-200);
}

/* stylelint-enable */

/* Ghost button */

.a-btn--ghost-uranus {
  background-color: var(--color-space-100);
  border: 2px solid var(--color-space-100);
  color: var(--color-uranus-500);
}

.a-btn--ghost-uranus:hover:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-moon-100);
  border-color: var(--color-moon-100);
  color: var(--color-uranus-400);
}

.a-btn--ghost-uranus:active:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-moon-200);
  border-color: var(--color-moon-200);
  color: var(--color-uranus-600);
}

.a-btn--ghost-venus {
  background-color: var(--color-space-100);
  border: 2px solid var(--color-space-100);
  color: var(--color-venus-400);
}

.a-btn--ghost-venus:hover:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-moon-100);
  border-color: var(--color-moon-100);
  color: var(--color-venus-300);
}

.a-btn--ghost-venus:active:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-moon-200);
  border-color: var(--color-moon-200);
  color: var(--color-venus-500);
}

.a-btn--ghost-earth {
  background-color: var(--color-space-100);
  border: 2px solid var(--color-space-100);
  color: var(--color-earth-600);
}

.a-btn--ghost-earth:hover:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-moon-100);
  border-color: var(--color-moon-100);
  color: var(--color-earth-300);
}

.a-btn--ghost-earth:active:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-moon-200);
  border-color: var(--color-moon-200);
  color: var(--color-earth-800);
}

.a-btn--ghost-mars {
  background-color: var(--color-space-100);
  border: 2px solid var(--color-space-100);
  color: var(--color-mars-500);
}

.a-btn--ghost-mars:hover:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-moon-100);
  border-color: var(--color-moon-100);
  color: var(--color-mars-400);
}

.a-btn--ghost-mars:active:not(:disabled):not(.a-btn--disabled) {
  background-color: var(--color-moon-200);
  border-color: var(--color-moon-200);
  color: var(--color-mars-600);
}

/* stylelint-disable no-descending-specificity */

.a-btn--ghost-uranus:disabled,
.a-btn--ghost-venus:disabled,
.a-btn--ghost-earth:disabled,
.a-btn--ghost-mars:disabled,
.a-btn--ghost-uranus.a-btn--disabled,
.a-btn--ghost-venus.a-btn--disabled,
.a-btn--ghost-earth.a-btn--disabled,
.a-btn--ghost-mars.a-btn--disabled {
  cursor: not-allowed;
  background-color: var(--color-space-100);
  border-color: var(--color-space-100);
  color: var(--color-moon-200);
}

/* stylelint-enable */
