.a-checkbox {
  --checkbox-square-size: 16px;

  display: flex;
}

.a-checkbox > label {
  padding-left: 8px;
  cursor: pointer;
  font: var(--font-secondary);
  order: 2;
}

.a-checkbox--disabled > label {
  cursor: not-allowed;
  color: var(--color-moon-200);
}

.a-checkbox > input[type='checkbox'] {
  position: relative;
  visibility: hidden;
  width: var(--checkbox-square-size);
  height: var(--checkbox-square-size);
  margin: 4px 0;
  order: 1;
}

.a-checkbox > input[type='checkbox']::before {
  display: inline-block;
  visibility: visible;
  width: var(--checkbox-square-size);
  height: var(--checkbox-square-size);
  content: '';
  border: 2px solid var(--color-moon-500);
  border-radius: 2px;
}

.a-checkbox > input[type='checkbox']::after {
  position: absolute;
  top: 3px;
  left: 3px;
  display: inline-block;
  visibility: visible;
  width: 10px;
  height: 6px;
  content: '';
  transform: rotate(-45deg);
  color: var(--color-space-100);
  border-bottom: 2px solid;
  border-left: 2px solid;
}

.a-checkbox--indeterminate > input[type='checkbox']::after {
  top: 8px;
  left: 4px;
  width: 8px;
  transform: rotate(-180deg);
  border-left: 0;
}

.a-checkbox--indeterminate > input[type='checkbox']:disabled::before {
  background-color: var(--color-moon-200);
}

.a-checkbox > input[type='checkbox']:checked::before {
  border-color: var(--color-uranus-500);
  background-color: var(--color-uranus-500);
}

.a-checkbox > input[type='checkbox']:disabled::before {
  border-color: var(--color-moon-200);
}

.a-checkbox > input[type='checkbox']:checked:disabled::before {
  background-color: var(--color-moon-200);
}

.a-checkbox > input[type='checkbox']:disabled {
  cursor: not-allowed;
}

.a-checkbox > input[type='checkbox']:hover:not(:disabled) {
  cursor: pointer;
  border-color: var(--color-uranus-500);
}
