/* stylelint-disable no-descending-specificity */

/* General input styles */

.a-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.a-input > input,
.a-input > textarea {
  width: 100%;
  padding: 25px 16px 5px;
  font: var(--font-secondary);
  color: var(--font-color);
  background-color: var(--color-space-100);
  border: 1px solid var(--color-moon-500);
  border-radius: 8px;
}

.a-input > label {
  position: absolute;
  top: 16px;
  left: 16px;
  font: var(--font-secondary);
  color: var(--color-moon-400);
  pointer-events: none;
  transition: 0.2s ease all;
}

.a-input > input::placeholder {
  color: var(--color-moon-400);
}

/* Messaging inputs */

.a-input--messaging {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.a-input--messaging > input {
  padding: 15px 16px;
  margin-right: 24px;
  flex: 1;
}

/* Ghost inputs */

.a-input--ghost > input,
.a-input.a-input--ghost > input:focus, /* Specificity hack to override focus style */
.a-input--ghost.a-input--validated > input,
.a-input--ghost.a-input--validated > input:focus,
.a-input--ghost.a-input--invalid > input {
  color: var(--color-space-100);
  background-color: transparent;
  border: 1px solid var(--color-space-100);
}

.a-input--ghost > label,
.a-input.a-input--ghost > input:focus + label, /* Specificity hack to override focus style */
.a-input--ghost.a-input > input::placeholder,
.a-input--ghost.a-input--validated > label,
.a-input--ghost.a-input--validated > input:focus + label,
.a-input--ghost.a-input--invalid > label,
.a-input--ghost.a-input > .a-input__error {
  color: var(--color-space-100);
}

.a-input--ghost.a-input--validated:not(.a-input--control)::after,
.a-input--ghost.a-input--invalid:not(.a-input--control)::after {
  background-color: var(--color-space-100);
}

/* Control inputs */

.a-input--control > input {
  appearance: textfield;
  padding-right: 87px;
}

.a-input--control > input::-webkit-inner-spin-button,
.a-input--control > input::-webkit-outer-spin-button {
  appearance: none;
}

/* Control input buttons */

.a-input__btn-control {
  position: absolute;
  top: 16px;
  right: 54px;
  display: inline-block;
  padding: 2px;
  margin: -4px 0 -3px;
  overflow: hidden;
  font: var(--font-primary);
  font-size: var(--font-size-1-5base);
  line-height: 18px;
  color: var(--color-uranus-500);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 16px;
  transition: all 0.3s ease;
}

.a-input__btn-control:focus {
  outline: none;
}

.a-input__btn-control + .a-input__btn-control { /* The first button with this class will be the decrement button. This selects the second button, that will be the increment button */
  right: 15px;
}

.a-input__btn-control:hover:not(:disabled),
.a-input__btn-control:focus:not(:disabled) {
  color: var(--color-uranus-400);
  background-color: var(--color-moon-100);
  border-color: var(--color-moon-100);
}

.a-input__btn-control:active:not(:disabled) {
  color: var(--color-uranus-600);
  background-color: var(--color-moon-200);
  border-color: var(--color-moon-200);
}

.a-input__btn-control:disabled {
  color: var(--color-space-100);
  cursor: not-allowed;
  background-color: transparent;
  border-color: transparent;
}

.a-input__btn-control .a-icon {
  background-color: var(--color-moon-500);
}

.a-input--control > input:focus ~ .a-input__btn-control .a-icon {
  background-color: var(--color-uranus-500);
}

.a-input__btn-control:hover:not(:disabled) .a-icon,
.a-input__btn-control:focus:not(:disabled) .a-icon {
  background-color: var(--color-uranus-400);
}

.a-input__btn-control:active:not(:disabled) .a-icon {
  background-color: var(--color-uranus-600);
}

.a-input--control.a-input--validated > input ~ .a-input__btn-control .a-icon,
.a-input--control.a-input--validated > input ~ .a-input__btn-control:hover .a-icon,
.a-input--control.a-input--validated > input ~ .a-input__btn-control:focus .a-icon {
  background-color: var(--color-earth-400);
}

.a-input--control.a-input--invalid > input ~ .a-input__btn-control .a-icon,
.a-input--control.a-input--invalid > input ~ .a-input__btn-control:hover .a-icon,
.a-input--control.a-input--invalid > input ~ .a-input__btn-control:focus .a-icon {
  background-color: var(--color-mars-400);
}

/* File inputs */

.a-file-preview {
  display: flex;
}

.a-file-preview__item {
  position: relative;
  display: flex;
  width: 80px;
  height: 80px;
  margin-right: 32px;
  vertical-align: middle;
  background-color: var(--color-moon-100);
  border-radius: 4px;
  justify-content: middle;
  align-items: center;
}

.a-file-preview__item img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.a-file-preview__item button {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 12px;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  outline: none;
}

.a-file-preview__item i {
  width: 20px;
  height: 20px;
  margin-left: -1px;
  background-color: var(--color-moon-500);
}

.a-file-preview__item p {
  max-width: 80px;
  padding: 12px;
  margin: 0;
  font-size: calc(var(--font-size-base) * 1.25);
  word-wrap: break-word;
}

.a-file-preview__item p.a-file-preview__item--text-truncate {
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Focus state */

.a-input > input:focus,
.a-input > textarea:focus {
  border: 1px solid var(--color-uranus-500);
  outline: none;
}

.a-input > input:focus + label,
.a-input > textarea:focus + label {
  top: 8px;
  font-size: var(--font-size-1-5base);
  font-weight: 700;
  color: var(--color-uranus-500);
}

/* Floating label state */

.a-input > .a-input__label--floating {
  top: 8px;
  font-size: var(--font-size-1-5base);
  font-weight: 700;
}

/* Validated and invalid states */

.a-input--validated > input,
.a-input--invalid > input {
  padding-right: 56px;
}

/* Validated state */

.a-input--validated > input,
.a-input--validated > input:focus {
  border: 1px solid var(--color-earth-400);
}

.a-input--validated > label {
  color: var(--color-moon-400);
}

.a-input--validated > input:focus + label {
  color: var(--color-earth-400);
}

.a-input--validated:not(.a-input--control)::after {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 32px;
  height: 32px;
  content: '';
  background-color: var(--color-earth-400);
  mask-image: url('../../assets/icons/circle-check.svg');
}

/* Invalid state */

.a-input--invalid > input,
.a-input--invalid > input:focus {
  border: 1px solid var(--color-mars-500);
}

.a-input--invalid > input:focus + label,
.a-input--invalid > .a-label--invalid {
  color: var(--color-mars-500);
}

.a-input--invalid:not(.a-input--control)::after {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 32px;
  height: 32px;
  content: '';
  background-color: var(--color-mars-500);
  mask-image: url('../../assets/icons/alert.svg');
}

/* Error state */

.a-input > .a-input__error {
  position: relative;
  display: block;
  margin: 4px 16px;
  font: var(--font-secondary);
  font-size: var(--font-size-1-5base);
  color: var(--color-mars-500);
}

/* Disabled state */

.a-input--disabled > input:disabled,
.a-input--disabled > textarea:disabled {
  color: var(--color-moon-300);
  cursor: not-allowed;
  background-color: var(--color-moon-100);
  border: 1px solid var(--color-moon-200);
}

.a-input--disabled.a-input--validated::after,
.a-input--disabled.a-input--invalid::after {
  background-color: var(--color-moon-300);
}

.a-input--disabled > input:disabled::placeholder {
  color: var(--color-moon-300);
}

.a-input--disabled > input:disabled + label,
.a-input--disabled > textarea:disabled + label {
  color: var(--color-moon-300);
  cursor: not-allowed;
}

/* Large size */

/* Large: fonts */

.a-input--large > label,
.a-input--large > input {
  font-size: var(--font-size-3base);
}

/* Large: inputs */

.a-input--large > input {
  padding-right: 24px;
  padding-left: 24px;
}

/* Large: labels */

.a-input--large > label {
  left: 24px;
}

.a-input--large .a-input__label--floating,
.a-input--large > input:focus + label {
  top: 6px;
  font-size: var(--font-size-2base);
}

/* Large: validation inputs */

.a-input--large.a-input--validated > input,
.a-input--large.a-input--invalid > input {
  padding-right: 56px;
}

.a-input--large.a-input--validated::after,
.a-input--large.a-input--invalid::after {
  top: 18px;
}

/* Large: control inputs */

.a-input--large.a-input--control > input {
  padding-right: 96px;
}

.a-input--large.a-input--control .a-input__btn-control {
  top: 22px;
}

/* Large: message inputs */

.a-input--large.a-input--messaging .a-btn {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.a-input--large.a-input--messaging .a-icon {
  font-size: var(--font-size-4base);
}
