/* stylelint-disable no-descending-specificity */

.a-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.a-input > input,
.a-input > textarea {
  width: 100%;
  padding: 25px 44px 5px 16px;
  border: 1px solid var(--color-moon-500);
  border-radius: 8px;
  background-color: var(--color-space-100);
  font: var(--font-secondary);
  color: var(--font-color);
}

.a-input > label {
  position: absolute;
  top: 16px;
  left: 16px;
  transition: 0.2s ease all;
  pointer-events: none;
  color: var(--color-moon-400);
  font: var(--font-secondary);
}

.a-input > input::placeholder {
  color: var(--color-moon-400);
}

.a-input--messaging {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.a-input--messaging > input {
  padding: 15px 16px;
  margin-right: 24px;
  flex: 1;
}

.a-input--validated > input {
  border: 1px solid var(--color-earth-400);
}

.a-input--validated > label {
  color: var(--color-moon-400);
}

.a-input--invalid > input {
  border: 1px solid var(--color-mars-500);
}

.a-input--invalid > label {
  color: var(--color-mars-500);
}

.a-input > input:focus,
.a-input > textarea:focus {
  outline: none;
  border: 1px solid var(--color-uranus-500);
}

.a-input > input:focus + label,
.a-input > textarea:focus + label {
  top: 8px;
  color: var(--color-uranus-500);
  font-size: 12px;
  font-weight: 700;
}

.a-input > .a-input--floating-label {
  top: 8px;
  font-size: 12px;
  font-weight: 700;
}

.a-input--validated > input:focus + label {
  color: var(--color-earth-400);
}

.a-input--validated > input:focus {
  border: 1px solid var(--color-earth-400);
}

.a-input--validated::after {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 32px;
  height: 32px;
  content: '';
  mask-image: url('../../assets/icons/circle-check.svg');
  background-color: var(--color-earth-400);
}

.a-input--invalid > input:focus + label {
  color: var(--color-mars-500);
}

.a-input--invalid > input:focus {
  border: 1px solid var(--color-mars-500);
}

.a-input--invalid::after {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 32px;
  height: 32px;
  content: '';
  background-color: var(--color-mars-500);
  mask-image: url('../../assets/icons/alert.svg');
}

.a-input > .a-input__error {
  position: relative;
  display: block;
  margin: 4px 16px;
  color: var(--color-mars-500);
  font: var(--font-secondary);
  font-size: 12px;
}

.a-input--disabled > input:disabled,
.a-input--disabled > textarea:disabled {
  cursor: not-allowed;
  border: 1px solid var(--color-moon-200);
  background-color: var(--color-moon-100);
}

.a-input--disabled > input:disabled::placeholder {
  color: var(--color-moon-300);
}

.a-input--disabled > input:disabled + label,
.a-input--disabled > textarea:disabled + label {
  cursor: not-allowed;
  color: var(--color-moon-300);
  font: var(--font-secondary);
}

/* Ghost inputs */

.a-input--ghost > input,
.a-input--ghost > input:focus,
.a-input--ghost.a-input--validated > input,
.a-input--ghost.a-input--validated > input:focus,
.a-input--ghost.a-input--invalid > input {
  border: 1px solid var(--color-space-100);
  background-color: transparent;
  color: var(--color-space-100);
}

.a-input--ghost > label,
.a-input--ghost > input:focus + label,
.a-input--ghost.a-input > input::placeholder,
.a-input--ghost.a-input--validated > label,
.a-input--ghost.a-input--validated > input:focus + label,
.a-input--ghost.a-input--invalid > label,
.a-input--ghost.a-input > .a-input__error {
  color: var(--color-space-100);
}

.a-input--ghost.a-input--validated::after,
.a-input--ghost.a-input--invalid::after {
  background-color: var(--color-space-100);
}
