/* stylelint-disable no-descending-specificity */

/* General input styles */

.a-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.a-input > input,
.a-input > textarea {
  width: 100%;
  padding: 25px 16px 5px;
  border: 1px solid var(--color-moon-500);
  border-radius: 8px;
  background-color: var(--color-space-100);
  font: var(--font-secondary);
  color: var(--font-color);
}

.a-input > label {
  position: absolute;
  top: 16px;
  left: 16px;
  transition: 0.2s ease all;
  pointer-events: none;
  color: var(--color-moon-400);
  font: var(--font-secondary);
}

.a-input > input::placeholder {
  color: var(--color-moon-400);
}

/* Messaging inputs */

.a-input--messaging {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.a-input--messaging > input {
  padding: 15px 16px;
  margin-right: 24px;
  flex: 1;
}

/* Ghost inputs */

.a-input--ghost > input,
.a-input.a-input--ghost > input:focus, /* Specificity hack to override focus style */
.a-input--ghost.a-input--validated > input,
.a-input--ghost.a-input--validated > input:focus,
.a-input--ghost.a-input--invalid > input {
  border: 1px solid var(--color-space-100);
  background-color: transparent;
  color: var(--color-space-100);
}

.a-input--ghost > label,
.a-input.a-input--ghost > input:focus + label, /* Specificity hack to override focus style */
.a-input--ghost.a-input > input::placeholder,
.a-input--ghost.a-input--validated > label,
.a-input--ghost.a-input--validated > input:focus + label,
.a-input--ghost.a-input--invalid > label,
.a-input--ghost.a-input > .a-input__error {
  color: var(--color-space-100);
}

.a-input--ghost.a-input--validated:not(.a-input--control)::after,
.a-input--ghost.a-input--invalid:not(.a-input--control)::after {
  background-color: var(--color-space-100);
}

/* Control inputs */

.a-input--control > input {
  appearance: textfield;
  padding-right: 87px;
}

.a-input--control > input::-webkit-inner-spin-button,
.a-input--control > input::-webkit-outer-spin-button {
  appearance: none;
}

.a-input--control__decrement {
  position: absolute;
  right: 54px;
  top: 13px;
}

.a-input--control__increment {
  position: absolute;
  right: 15px;
  top: 13px;
}

.a-input--control > input:not(:focus) ~ button .a-icon {
  background-color: var(--color-moon-500);
}

.a-input--control.a-input--validated > input ~ .a-btn .a-icon,
.a-input--control.a-input--validated > input ~ .a-btn:hover .a-icon,
.a-input--control.a-input--validated > input ~ .a-btn:focus .a-icon {
  background-color: var(--color-earth-400);
}

.a-input--control.a-input--invalid > input ~ .a-btn .a-icon,
.a-input--control.a-input--invalid > input ~ .a-btn:hover .a-icon,
.a-input--control.a-input--invalid > input ~ .a-btn:focus .a-icon {
  background-color: var(--color-mars-400);
}

/* Focus state */

.a-input > input:focus,
.a-input > textarea:focus {
  outline: none;
  border: 1px solid var(--color-uranus-500);
}

.a-input > input:focus + label,
.a-input > textarea:focus + label {
  top: 8px;
  color: var(--color-uranus-500);
  font-size: var(--font-size-1-5base);
  font-weight: 700;
}

/* Floating label state */

.a-input > .a-input--floating-label {
  top: 8px;
  font-size: var(--font-size-1-5base);
  font-weight: 700;
}

/* Validated and invalid states */

.a-input--validated > input,
.a-input--invalid > input {
  padding-right: 56px;
}

/* Validated state */

.a-input--validated > input,
.a-input--validated > input:focus {
  border: 1px solid var(--color-earth-400);
}

.a-input--validated > label {
  color: var(--color-moon-400);
}

.a-input--validated > input:focus + label {
  color: var(--color-earth-400);
}

.a-input--validated:not(.a-input--control)::after {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 32px;
  height: 32px;
  content: '';
  mask-image: url('../../assets/icons/circle-check.svg');
  background-color: var(--color-earth-400);
}

/* Invalid state */

.a-input--invalid > input,
.a-input--invalid > input:focus {
  border: 1px solid var(--color-mars-500);
}

.a-input--invalid > input:focus + label,
.a-input--invalid > .a-label--invalid {
  color: var(--color-mars-500);
}

.a-input--invalid:not(.a-input--control)::after {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 32px;
  height: 32px;
  content: '';
  background-color: var(--color-mars-500);
  mask-image: url('../../assets/icons/alert.svg');
}

/* Error state */

.a-input > .a-input__error {
  position: relative;
  display: block;
  margin: 4px 16px;
  color: var(--color-mars-500);
  font: var(--font-secondary);
  font-size: var(--font-size-1-5base);
}

/* Disabled state */

.a-input--disabled > input:disabled,
.a-input--disabled > textarea:disabled {
  cursor: not-allowed;
  border: 1px solid var(--color-moon-200);
  background-color: var(--color-moon-100);
  color: var(--color-moon-300);
}

.a-input--disabled.a-input--validated::after,
.a-input--disabled.a-input--invalid::after {
  background-color: var(--color-moon-300);
}

.a-input--disabled > input:disabled::placeholder {
  color: var(--color-moon-300);
}

.a-input--disabled > input:disabled + label,
.a-input--disabled > textarea:disabled + label {
  cursor: not-allowed;
  color: var(--color-moon-300);
  font: var(--font-secondary);
}

/* Large size */

/* Large: fonts */

.a-input--large > label,
.a-input--large > input {
  font-size: var(--font-size-3base);
}

/* Large: inputs */

.a-input--large > input {
  padding-right: 24px;
  padding-left: 24px;
}

/* Large: labels */

.a-input--large > label {
  left: 24px;
}

.a-input--large .a-input--floating-label,
.a-input--large > input:focus + label {
  top: 6px;
  font-size: var(--font-size-2base);
}

/* Large: validation inputs */

.a-input--large.a-input--validated > input,
.a-input--large.a-input--invalid > input {
  padding-right: 56px;
}

.a-input--large.a-input--validated::after,
.a-input--large.a-input--invalid::after {
  top: 18px;
}

/* Large: control inputs */

.a-input--large.a-input--control > input {
  padding-right: 96px;
}

.a-input--large.a-input--control .a-btn {
  top: var(--font-size-2base);
}

/* Large: message inputs */

.a-input--large.a-input--messaging .a-btn {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.a-input--large.a-input--messaging .a-icon {
  font-size: var(--font-size-4base);
}
