/* Hiding standard input */

.a-radio > input[type='radio'] {
  position: absolute;
  opacity: 0;
}

/* Label design */

.a-radio > label {
  display: flex;
  font: var(--font-secondary);
  align-items: top;
}

/* Middle alignment */

.a-radio--align-middle > label {
  align-items: center;
}

.a-radio--align-middle > label::before {
  margin-top: 0;
}

/* Radio button design */

.a-radio > label::before {
  min-width: 18px;
  height: 18px;
  margin-top: 2px;
  margin-right: 6px;
  content: '';
  border: 2px solid var(--color-moon-500);
  border-radius: 100%;
  background-color: var(--color-space-100);
}

/* Checked state */

.a-radio > input[type='radio']:checked + label::before {
  border: solid 5px var(--color-uranus-500);
}

/* Disabled state */

.a-radio--disabled > label {
  cursor: not-allowed;
  color: var(--color-moon-200);
}

.a-radio > input[type='radio']:disabled + label::before {
  border-color: var(--color-moon-200);
}

/* Hover state */

.a-radio > input[type='radio']:hover:not(:disabled) + label::before {
  border-color: var(--color-uranus-500);
}

/* Cursor */

.a-radio > input[type='radio']:hover:not(:disabled),
.a-radio > input[type='radio']:hover:not(:disabled) + label {
  cursor: pointer;
}
