/* Base component */

:root {
  --radio-circle-size: 18px;
}

.a-radio {
  display: flex;
}

/* Standard input */

.a-radio > input[type='radio'] {
  position: absolute;
  width: var(--radio-circle-size);
  height: var(--radio-circle-size);
  margin-top: 4px;
  cursor: pointer;
  opacity: 0;
  order: 1;
}

/* Label design */

.a-radio > label {
  padding-left: 8px;
  font: var(--font-secondary);
  cursor: pointer;
  order: 2;
}

/* Radio button design */

.a-radio__shape::before {
  display: inline-block;
  width: var(--radio-circle-size);
  height: var(--radio-circle-size);
  margin-top: 4px;
  content: '';
  background-color: var(--color-space-100);
  border: 2px solid var(--color-moon-500);
  border-radius: 100%;
}

/* Middle alignment modifier */

.a-radio--align-middle {
  align-items: center;
}

.a-radio--align-middle > input[type='radio'] {
  margin-top: 0;
}

/* Checked state */

.a-radio > input[type='radio']:checked ~ .a-radio__shape::before {
  border: solid 5px var(--color-uranus-500);
}

/* Disabled state */

.a-radio > input[type='radio']:disabled ~ .a-radio__shape::before {
  cursor: not-allowed;
  border-color: var(--color-moon-200);
}

.a-radio--disabled > label,
.a-radio--disabled > input[type='radio']:disabled,
.a-radio--disabled > input[type='radio']:disabled ~ .a-radio__shape::before {
  color: var(--color-moon-200);
  cursor: not-allowed;
}

.a-radio--disabled > input[type='radio']:disabled ~ .a-radio__shape::before {
  border-color: var(--color-moon-200);
}

/* Focus state */

.a-radio > input[type='radio']:focus ~ .a-radio__shape::before {
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

/* Hover state on */

.a-radio > input[type='radio']:not(:disabled):hover ~ .a-radio__shape::before {
  border-color: var(--color-uranus-500);
}
