/* stylelint-disable no-descending-specificity */

/* Variables - insert current slider value with JS in this variable to get a working color fill */

:root {
  --slider-percentage: 50%;
}

.a-slider {
  display: flex;
  flex-direction: column-reverse;
}

/* Reset standard input styles */

.a-slider > input[type='range'] {
  appearance: none;
  outline: none;
  width: 100%;
}

/* Labels */

.a-slider > label {
  display: flex;
  margin-bottom: 20px;
  font: var(--font-secondary);
  color: var(--font-color);
}

.a-slider--value {
  margin-left: auto;
  font-weight: 600;
}

.a-slider > input[type='range']:disabled ~ label {
  color: var(--color-moon-200);
}

/* Chrome - always replicate styles for each browser, it's the only way :( */

.a-slider > input[type='range']::-webkit-slider-runnable-track {
  background-image:
    linear-gradient(
      to right,
      var(--color-uranus-500) var(--slider-percentage),
      transparent var(--slider-percentage)
    );
  background-color: var(--color-moon-300);
  border-radius: 4px;
  height: 5px;
  display: flex;
  align-items: center;
}

.a-slider > input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: var(--color-uranus-500);
  cursor: pointer;
  transition: all 0.3s ease;
}

.a-slider > input[type='range']:not(:disabled)::-webkit-slider-thumb:hover {
  width: 16px;
  height: 16px;
  box-shadow: 0 0 0 4px var(--color-uranus-300);
}

.a-slider > input[type='range']:not(:disabled)::-webkit-slider-thumb:active {
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 4px var(--color-uranus-300);
  background-color: var(--color-uranus-400);
}

.a-slider > input[type='range']:disabled::-webkit-slider-runnable-track {
  background-image: none;
  background-color: var(--color-moon-200);
  cursor: not-allowed;
}

.a-slider > input[type='range']:disabled::-webkit-slider-thumb {
  display: none;
}

/* Firefox - always replicate styles for each browser, it's the only way :( */

.a-slider > input[type='range']::-moz-range-track {
  background-image:
    linear-gradient(
      to right,
      var(--color-uranus-500) var(--slider-percentage),
      transparent var(--slider-percentage)
    );
  background-color: var(--color-moon-300);
  border-radius: 4px;
  height: 5px;
  display: flex;
  align-items: center;
}

.a-slider > input[type='range']::-moz-range-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: var(--color-uranus-500);
  cursor: pointer;
  transition: all 0.3s ease;
}

.a-slider > input[type='range']:not(:disabled)::-moz-range-thumb:hover {
  width: 16px;
  height: 16px;
  box-shadow: 0 0 0 4px var(--color-uranus-300);
}

.a-slider > input[type='range']:not(:disabled)::-moz-range-thumb:active {
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 4px var(--color-uranus-300);
  background-color: var(--color-uranus-400);
}

.a-slider > input[type='range']:disabled::-moz-range-track {
  background-image: none;
  background-color: var(--color-moon-200);
  cursor: not-allowed;
}

.a-slider > input[type='range']:disabled::-moz-range-thumb {
  display: none;
}

/* IE - always replicate styles for each browser, it's the only way :( */

.a-slider > input[type='range']::-ms-track {
  background-image:
    linear-gradient(
      to right,
      var(--color-uranus-500) var(--slider-percentage),
      transparent var(--slider-percentage)
    );
  background-color: var(--color-moon-300);
  border-radius: 4px;
  height: 5px;
  display: flex;
  align-items: center;
}

.a-slider > input[type='range']::-ms-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: var(--color-uranus-500);
  cursor: pointer;
  transition: all 0.3s ease;
}

.a-slider > input[type='range']:not(:disabled)::-ms-thumb:hover {
  width: 16px;
  height: 16px;
  box-shadow: 0 0 0 4px var(--color-uranus-300);
}

.a-slider > input[type='range']:not(:disabled)::-ms-thumb:active {
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 4px var(--color-uranus-300);
  background-color: var(--color-uranus-400);
}

.a-slider > input[type='range']:disabled::-ms-track {
  background-image: none;
  background-color: var(--color-moon-200);
  cursor: not-allowed;
}

.a-slider > input[type='range']:disabled::-ms-thumb {
  display: none;
}
