/* Base */

.a-tabs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

/* Border */

.a-tabs__border {
  position: absolute;
  z-index: var(--z-index-1);
  display: none;
  width: 100%;
  height: 48px;
  border: solid 1px var(--color-moon-300);
  border-radius: 24px;
}

/* Default component */

.a-tabs > .a-tabs__item {
  position: absolute;
  opacity: 0;
}

/* Tab */

.a-tabs > .a-tabs__label {
  z-index: var(--z-index-2);
  display: flex;
  width: 100%;
  min-height: 40px;
  margin-top: 4px;
  padding: 8px 32px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  text-transform: lowercase;
  color: var(--color-moon-500);
  border: solid 1px var(--color-moon-300);
  border-radius: 24px;
  font: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

/* Icon */

.a-tabs__icon {
  transition: background-color 0.3s ease;
  background-color: var(--color-moon-500);
}

/* Contents */

.a-tabs > .a-tabs__content {
  display: none;
  width: 100%;
  padding: 16px;
  order: 99;
}

/* Current content */

.a-tabs > .a-tabs__item:checked + .a-tabs__label + .a-tabs__content {
  display: block;
}

/* Focus state */

.a-tabs > .a-tabs__item:focus + .a-tabs__label {
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

/* Active state */

.a-tabs > .a-tabs__item:checked + .a-tabs__label {
  color: var(--color-space-100);
  border-color: var(--color-uranus-500);
  background-color: var(--color-uranus-500);
}

.a-tabs > .a-tabs__item:checked + .a-tabs__label .a-tabs__icon {
  background-color: var(--color-moon-100);
}

/* Hover state */

.a-tabs > .a-tabs__item:not(:checked):hover + .a-tabs__label {
  cursor: pointer;
  background-color: var(--color-moon-200);
}

@media only screen and (min-width: 48em) {
  /* Larger screens */

  .a-tabs__border {
    display: block;
  }

  .a-tabs > .a-tabs__label {
    border: none;
    flex: 1;
  }

  .a-tabs > .a-tabs__label:first-of-type {
    margin-left: 4px;
  }

  .a-tabs > .a-tabs__label:last-of-type {
    margin-right: 4px;
  }

  /* Hover state */

  .a-tabs > .a-tabs__item:checked + .a-tabs__label {
    border: none;
  }
}
