/* Variables */

.a-toggle {
  --toggle-base-width: 50px;
  --toggle-base-height: 30px;
  --toggle-circle-size: 28px;

  display: inline-block;
}

/* Hide standard input */

.a-toggle > input[type='checkbox'] {
  position: relative;
  visibility: hidden;
  width: var(--toggle-base-width);
  height: var(--toggle-base-height);
  vertical-align: middle;
}

/* Label */

.a-toggle > label {
  padding-right: 8px;
  font: var(--font-secondary);
}

/* Base */

.a-toggle > input[type='checkbox']::before {
  display: block;
  visibility: visible;
  width: var(--toggle-base-width);
  height: var(--toggle-base-height);
  content: '';
  transition: background-color 0.3s ease;
  border-radius: var(--toggle-circle-size);
  background-color: var(--color-moon-400);
}

/* Circle */

.a-toggle > input[type='checkbox']::after {
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  visibility: visible;
  width: var(--toggle-circle-size);
  height: var(--toggle-circle-size);
  content: '';
  transition: left 0.3s ease;
  border-radius: var(--toggle-circle-size);
  background-color: var(--color-space-100);
}

/* On state */

.a-toggle > input[type='checkbox']:checked::before {
  background-color: var(--color-uranus-500);
}

.a-toggle > input[type='checkbox']:checked::after {
  top: 1px;
  left: 21px;
}

/* Disabled state */

.a-toggle > input[type='checkbox']:disabled::before {
  background-color: var(--color-moon-200);
}

.a-toggle--disabled > label,
.a-toggle > input[type='checkbox']:disabled {
  cursor: not-allowed;
  color: var(--color-moon-200);
}

/* Hover state on */

.a-toggle > input[type='checkbox']:not(:disabled):hover::before {
  background-color: var(--color-uranus-400);
}

/* Hover state off */

.a-toggle > input[type='checkbox']:not(:checked):not(:disabled):hover::before {
  background-color: var(--color-moon-300);
}

/* Cursor */

.a-toggle:not(.a-toggle--disabled) > label:hover,
.a-toggle > input[type='checkbox']:not(:disabled):hover {
  cursor: pointer;
}
