/* Looking for headings? They aren't here; headings are in h1-h4 element selectors in base.css file */

/* Display */

.text--display {
  font-size: 64px;
  font-weight: 700;
}

/* Paragraph - medium size is in default p element */

p.text--small {
  font-size: 12px;
}

p.text--large {
  font-size: 24px;
}

/* Secondary font */

p.text--secondary {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

p.text--secondary.text--small {
  font-size: 16px;
}

p.text--secondary.text--large {
  font-size: 32px;
}
