/* Default styles */

.a-text--display,
.a-title--large,
.a-title--medium,
.a-title--small,
.a-text--large,
.a-text--medium,
.a-text--small {
  font: var(--font-primary);
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.a-text--secondary-large,
.a-text--secondary-medium,
.a-text--secondary-small {
  font: var(--font-secondary);
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Display */

.a-text--display {
  font-size: 64px;
  font-weight: 700;
}

/* Title */

.a-title--large {
  font-size: 48px;
}

.a-title--medium {
  font-size: 40px;
}

.a-title--small {
  font-size: 32px;
}

/* Paragraph */

.a-text--large {
  font-size: 24px;
}

.a-text--small {
  font-size: 12px;
}

/* Secondary font */

.a-text--secondary-large {
  font-size: 24px;
}

.a-text--secondary-small {
  font-size: 12px;
}
